@charset "UTF-8";

.app-description {
    margin: 1em;
    font-size: 1.5vw;
    line-height: 2;
    color: white;
}


.page-info {
    color: #0d3c5b;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4vw;
    width: 50%;
}

.all-app-container {
    display: flex;
    justify-content: center;
    margin: 2vw;
}

.app-container {
    width: 100%;
    margin: 1vw;
    background-color: #0d3c5b;
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
}

.app-header {
    background: #0d3c5b;
    width: 20%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-style: outset;
    border-width: 0.5vw;
    border-radius: 0.5vw;
    border-color: #0d3c5b;
    font-size: 1.7vw;
    position: absolute;
    color: white;
}

.app-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-info {
    margin: 0vw 1.5vw 1.5vw 1.5vw;
    font-size: 1.1vw;
    color: #acd5ee;
    letter-spacing: 0.1rem;
    text-align: center;
}

.right-arrow-icon {
    width: 3%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    display: none;
}

.bounce-x {
    animation-name: bounce-x;
    animation-timing-function: linear;
}

@keyframes bounce-x {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0.5vw);
    }

    100% {
        transform: translateX(0);
    }
}

.app-image {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    position: relative;
    margin-bottom: 1vw;
    border-radius: 1vw 1vw 0vw 0vw;
}

.app-container:hover .app-info {
    color: white;
}

.app-container:hover .right-arrow-icon {
    display: inline-block;

}

.app-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.app-description-container {
    background-color: #0d3c5b;
    width: 100%;
    margin-right: 3vw;
}

#wip-app-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    text-align: center;
}

.ui-image-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 3vw;
}


.ui-image-column {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-right: 0.5vw;
}

.ui-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ui-image {
    width: 100%;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
    position: relative;
}

.ui-image-description {
    position: absolute;
    width: 18%;
    height: auto;
    display: none;
    padding: 1vw;
    font-weight: 600;
    font-size: 1.1vw;
    color: #0d3c5b;
    background-color: white;
    text-align: center;
}

.ui-image-container:hover .ui-image-description {
    display: block;
}

.ui-image-container:hover .ui-image {
    opacity: 0.7;
}


.back-app-button {
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    display: block;
    background-color: white;
    border-style: solid;
    border-color: #0d3c5b;
    border-width: 0.3vw;
    color: #0d3c5b;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 1vw;
}

.back-app-button:hover {
    background-color: #0d3c5b;
    color: white;
}

#afg {
    display: none;
}

#stem {
    display: none;
}

#sola {
    display: none;
}

.tags-container {
    display: flex;
    flex-direction: row;
}

.tag-divider {
    border: 0.1vw solid #3277a5;
    width: 100%;
    margin-bottom: 2vw;
}

.tag {
    background-color: #3277a5;
    color: white;
    font-size: 1vw;
    padding: 0.3vw;
    border-radius: 0.3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
}