@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

.home {
    color: #0d3c5b;
    font-size: 5vw;
    float: left;
    font-weight: bold;
}

.headerContainer {
    width: 100%;
    font-family: "Times New Roman";
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-right: 5em;
}

.aboutBox {
    display: flex;
    flex-direction: row;
    font-size: 1.4vw;
    margin-left: 5em;
    margin-top: 3vw;
}

#aboutMe {
    color: #0d3c5b;
    margin-left: 0.5em;
    margin-top: -1.5em;
    margin-left: 1vw;
}

.aboutText {
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}

h1 {
    font-size: 6.5vw;
    color: #0d3c5b;
    letter-spacing: 0.3rem;
    font-weight: 900;
    /*webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background: radial-gradient(whitesmoke, #0d3c5b);*/
}

.highlighted {
    color: #05568d;
    font-weight: 600;
}


.aboutPhoto {
    width: 30%;
    height: 100%;
    border-style: none;
}


.name {
    font-size: 3vw;
    color: #0d3c5b;
}


.navButtons {
    border: none;
    text-decoration: none;
    height: 100%;

    float: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    background-color: whitesmoke;
    color: #365475;
}

#homenavButtons {
    background-color: #365475;
    color: #CBD2D8;
}


.tab {
    background-color: #0d3c5b;
    text-align: center;
    width: auto;
    padding: 0.5em 1em;
    margin: 1em;
    float: left;
    color: whitesmoke;
    font-size: 1.3vw;

    letter-spacing: 0.2rem;
}


a {
    text-decoration: none;
    color: #365475;
}

p {
    color: #CBD2D8;
}


.line {
    border: 0.075em solid #CBD2D8;
}

.name {
    margin-top: 10%;
    margin-left: 8%;
}

.greetBar {
    margin-left: 1vw;
    background-color: #0d3c5b;
    font-size: 1.4vw;
    padding: 0.5vw 1vw 0vw 1vw;
    width: fit-content;
    color: whitesmoke;
    border-radius: 30% 30% 0% 0%;
}

.quickButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 1vw;
}

.quickButton {
    border-style: none;
    background-color: #0d3c5b;
    color: white;
}

.quickButtonsBar {
    background-color: #0d3c5b;
    padding: 0vw 1vw 0vw 1vw;
}


.logo {
    width: 3vw;
    height: 3vw;
    margin: 1vw 3vw 1vw 3vw;
    background-color: #0d3c5b;
}

h2 {
    margin: 2vw;
    font-size: 4.6vw;
    color: #0d3c5b;
    display: flex;
    justify-content: center;
    font-family: "Times New Roman";
}

#artPageHeader {
    margin-top: 10vw;
}

.imageGrid {
    grid-template-columns: auto auto auto;
    gap: 0.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
}


.gridItem {
    float: left;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.imageGridItem {
    width: 100%;
    float: left;
}


.artTitleText:hover .imageGridItem {
    opacity: 0.6;
}

.imageGridItem:hover {
    opacity: 0.6;
}

.gridItem:hover .artTitleText {
    opacity: 1;
}

.imageGridItem:hover .artTitleText {
    opacity: 1;
}

.artTitleText:hover {
    opacity: 1;
}

.artTitleText {
    font-family: "Times New Roman";
    padding: 0.5vw;
    opacity: 0;
    width: 100%;
    float: left;
    background-color: #0d3c5b;
    color: white;
    font-size: 1.3vw;
    width: 30%;
    text-align: center;
    position: relative;
    margin-top: -65%;
    margin-left: 37%;
}

#flutist {
    display: none;
}

#lucidity {
    display: none;
}

#utopia {
    display: none;
}

.singleImage {
    width: 43%;
    margin-left: 5%;
    float: left;
}

.singleArtHeader {
    font-size: 4vw;
    color: #0d3c5b;
}

.artHeaderLine {
    border: 0.1em solid #0d3c5b;
    width: 30%;
    margin-bottom: 2%;
}

.artDescriptionContainer {
    background-color: #0d3c5b;
    width: 43%;
    float: right;
    margin-right: 5%;
    margin-top: 0%;
}

.artDescription {
    margin: 1em;
    font-size: 1.5vw;
    line-height: 2;
}

.artFooter {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    background-color: whitesmoke;
    color: whitesmoke;
    height: 100%;
    margin-top: 60%;
}

.darkParagraph {
    color: #0d3c5b;
    margin-left: 5%;
}

h3 {
    color: #0d3c5b;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.artTypeHeader {
    margin-top: 10vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.artTypeDescription {
    color: #0d3c5b;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 1.4vw;
}

.dynamicGrid {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
}

.dynamicGridColumn {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30%;
    margin-left: 3vw;
}

.info {
    font-family: 'Times New Roman';
    text-align: center;
    margin: auto;
    margin-top: -1%;
    margin-bottom: 1%;
    font-size: 1vw;
}

.artTypeButtonContainer {
    text-align: center;
    margin: auto;
    margin-bottom: 2vw;
}

.artTypeButton {
    width: 10vw;
    font-family: 'Times New Roman';
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: whitesmoke;
    border-style: solid;
    border-color: #0d3c5b;
    border-width: 0.3vw;
    color: #0d3c5b;
    font-size: 1.5vw;
    padding: 1vw;
}

#mainArtTypeButton {
    margin-bottom: 5vw;
}

.artTypeButton:hover {
    background-color: #0d3c5b;
    color: whitesmoke;
}

.centeredIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1vw);
    }

    100% {
        transform: translateY(0);
    }
}

.portrait {
    width: 100%;
    margin-bottom: 3vw;
    display: block;
}

.nft {
    width: 100%;
    margin-bottom: 3vw;
    display: block;
}

.design {
    width: 100%;
    margin-bottom: 3vw;
    display: block;
}

h4 {
    color: #0d3c5b;
    font-size: 1vw;
}

.contactContainer {
    display: flex;
    justify-content: center;
}

.contactBox {
    display: flex;
    padding: 1vw 10vw;
    border-radius: 0%;
    border-style: solid;
    border-color: #0d3c5b;
    border-width: 0.5vw;
    font-size: 1vw;
}


/* =================================================================
ui.html*/

.pageInfo {
    color: #0d3c5b;
    font-family: "Times New Roman";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4vw;
    width: 50%;
}

.searchBar {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #0d3c5b;
    color: white;
    font-size: 1.2vw;
    padding: 0.5vw;
    border-radius: 10%;
    width: 30%;
}

.allAppContainer {
    display: flex;
    justify-content: center;
    margin: 2vw;
}

.appContainer {
    width: 100%;
    margin: 1vw;
    background-color: #0d3c5b;
    display: flex;
    flex-direction: column;
}

.appHeader {
    font-family: 'Times New Roman';
    background: white;
    width: 70%;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-width: 0.5vw;
    border-color: #0d3c5b;
    font-size: 1.7vw;
}

.appInfoContainer {
    display: flex;
    flex-direction: row;
}

.appInfo {
    margin: 0vw 1.5vw 1.5vw 1.5vw;
    margin-right: 0vw;
    font-size: 1vw;
    color: white;
    letter-spacing: 0.1rem;
}

.appImage {
    width: 50%;
    height: auto;
    margin: 1.5vw;
    margin-left: 1vw;
}

.additionalAppImageContainer {
    width: 100%;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.additionalAppImage {
    width: 30%;
    height: auto;
    margin: 0vw 0.5vw .5vw 0vw;

}

.appPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 100%;

}

.appDescriptionContainer {
    background-color: #0d3c5b;
    width: 100%;
}

.UIImageGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.UIImage {
    width: 20%;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

#afg {
    display: block;
}